div {
  background-color: rgb(189, 189, 189);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
}

h1 {
  display: flex;
  justify-content: left;
  margin-left: 20px;
  margin-top: 30px;
}
