
<form class="form" [formGroup]="loginForm">

  <mat-form-field appearance="fill">
    <mat-label>Login</mat-label>
    <input matInput formControlName="login">
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input matInput formControlName="password">
  </mat-form-field>
  <br>

  <button mat-button (click)="onSubmit()">
    Send
  </button>
  <button mat-button (click)="loginForm.reset()">
    Reset
  </button>

</form>