.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 90%;
  margin: 20px 20px;
  background-color: rgb(189, 189, 189);
  cursor: pointer;
}

.card:last-child {
  clear: both;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgb(189, 189, 189);
}

.container {
  padding: 2px 16px;
}
