<div class="card">
  <div class="card_1" routerLink="card/{{lalala.id}}" (click)="clickOnTheItem(lalala)">
    <img src="https://i.pinimg.com/originals/2b/6c/79/2b6c798c0038a92ba0ad9f31808b4a0b.jpg" alt="Avatar" style="width:100%">
    <div class="container">
      <h4><b>{{lalala.author}}</b></h4> 
      <p>{{lalala.title}}</p> 
      <span> {{lalala.date | date}}</span>
    </div>
  </div>
</div>

