<div class="block">
  <p>ABOUT US</p>
</div>

<div class="container">
  <div class="row">
      <div class="col-12">
          <p>Telephon: +8 (123) 456-78-90</p>
          <p>Post: <a href="alexlesnikov88@gmail.com">alexlesnikov88@gmail.com</a></p>
          <p>Skype: alexlesnikov</p>
          <p>Telegram: @alexlesnikov</p>
      </div>
  </div>
</div>