.block {
  width: 100%;
  height: 300px;
  background: url(https://images.alphacoders.com/505/thumb-1920-505347.jpg);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.container {
  margin: 100px 20px;
  font-size: 18pt;
  color: rgb(158, 158, 158);
}

a {
  color: rgb(204, 204, 204);
}

a:hover {
  color: black;
}
